table {
  border-spacing: 0;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #777;
  padding: 1px 4px;
  margin: 0;
  white-space: nowrap;
}

col {
  text-align: center;
}
td:nth-child(2), td:nth-child(3), td:nth-child(4) {
  text-align: left;
}

/* Sortable table */
table.sortable th {
  cursor: pointer;
}
table.sortable th#sortcol {
  text-decoration: underline;
}
