html, body {
	height: 100%;
	user-select: none;
	overflow: hidden;
	/* filter vars */
	--blur: 0px;
	--darken: 100%;
	--contrast: 100%;
	--grayscale: 0%;
	--sepia: 0%;
	--opacity: 100%;
	--shadow: 0px 0px #000;
	background: #071022;
	color: #cbd9f4;
}
[title] {
	cursor: help;
}
#map {
	width: 100%;
	height: calc(100% - 4em);
	overflow: hidden;
	cursor: grab;
	position: relative;
}
#map:active {
	cursor: grabbing;
}
#map img {
	width: 11008px;
	height: 6656px;
	position: absolute;
	top: 0;
	left: 0;
	image-rendering: pixelated;
	filter: blur(var(--blur)) brightness(var(--darken)) contrast(var(--contrast)) grayscale(var(--grayscale)) sepia(var(--sepia)) opacity(var(--opacity));
}
#map img:first-child {
	position: static;
}

#layer0:checked ~ #map img:nth-child(1) ~ img,
#layer1:checked ~ #map img:nth-child(2) ~ img,
#layer2:checked ~ #map img:nth-child(3) ~ img {
	display: none;
}

#layer0:checked ~ #map img:nth-child(1),
#layer1:checked ~ #map img:nth-child(2),
#layer2:checked ~ #map img:nth-child(3),
#layer3:checked ~ #map img:nth-child(4) {
	/* no other filters for current layer ever */
	filter: drop-shadow(var(--shadow)) !important;
}

#blur1:checked ~ #map img { --blur: 1px; }
#blur2:checked ~ #map img { --blur: 2px; }
#blur5:checked ~ #map img { --blur: 5px; }
#darken15:checked ~ #map img { --darken: 85%; }
#darken30:checked ~ #map img { --darken: 70%; }
#darken50:checked ~ #map img { --darken: 50%; }
#contrast80:checked ~ #map img { --contrast: 80%; }
#contrast50:checked ~ #map img { --contrast: 50%; }
#gray50:checked ~ #map img { --grayscale: 50%; }
#gray100:checked ~ #map img { --grayscale: 100%; }
#sepia:checked ~ #map img { --sepia: 100%; }
#opacity:checked ~ #map img + img { --opacity: 50%; }
#hide:checked ~ #map img + img { --opacity: 0%; }
#shadow:checked ~ #map img { --shadow: 2px 2px 3px #000; }

@media screen and ( max-height: 27em ) {
	body {
		margin: 0;
		padding: 0;
	}

	body > * {
		display: none;
	}

	#map {
		display: block;
		width: 100%;
		height: 100%;
	}
}